.container {
  position: absolute;
  top: -0px;

  min-height: calc(100vh- 100vh);
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container img {
  position: relative;
  width: 30rem;
  border-radius: 50rem;
}

@media (max-width: 1580px) {
  .container {
    position: fixed;
    top: 12rem;
  }
}

@media (max-width: 600px) {
  .container img {
    width: 20rem;
    margin: 0;
  }
}
