@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&display=swap");

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  top: -0px;
}

.containerDetail {
  display: flex;
  position: relative;
  background-color: rgba(103, 17, 164, 0.705);
  max-width: 43rem;
  border-radius: 20px;
  box-shadow: 0 0 15px 4px #a647ff;
  padding: 0 2rem 0 0;
}

.containerDetail hr {
  height: 2px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 15px;
  box-shadow: 0 0 10px 4px rgb(255, 255, 255);
}

.containerDetail img {
  margin: 25px;
  border-radius: 20px;
  filter: drop-shadow(0 5px 20px #fff);
}
.containerDetail h3 {
  color: white;
  -webkit-text-stroke: 0.1px rgb(11, 142, 11);
  font-family: Righteous;
}
.containerDetail h1 {
  color: white;
  -webkit-text-stroke: 0.1px rgb(11, 142, 11);
  font-family: Permanent Marker;
}

.containerDetail button {
  position: absolute;
  right: 5px;
  top: 5px;
  background-color: rgb(171, 17, 122);
  color: aliceblue;
  outline: 1px solid black;
  outline-offset: 0.5px;
  border-radius: 18px;
  cursor: pointer;
}

@media (min-width: 501px) and (max-width: 1040px) {
  .container {
    position: fixed;
  }
  .containerDetail {
    flex-direction: column;
    top: 5.9rem;
    padding: 0;
  }

  .containerDetail img {
    max-width: 20rem;
  }
}

@media (max-width: 500px) {
  .container {
    position: fixed;
  }
  .containerDetail {
    flex-direction: column;
    top: 4rem;
    max-width: 17rem;
    padding: 0;
  }

  .containerDetail img {
    max-width: 15rem;
  }
}
